@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1, h2, h3, h4 {
	color: #444444;
}
p {
	color: #7f7f79;
}
li {
	color: #7f7f79;
	line-height: 1.8;
}
p > b {
	color: #555555;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.navbar-nav > li
{
    float: none;
    display: inline-block;
}
.navbar-nav > li a{
		font-size: 13pt;
    text-decoration:none;
    padding-left: 15px;
    color: #9b9b96;
    font-weight: 600;
    /*font-family:  Arial Black, Geneva, sans-serif;*/
}
/*.navbar-nav > li a active {
	color: red;
}
*/

.navbar-nav > li a:before {
  content: "";
  position: absolute;
  width: 54px;
  height: 2px;
  bottom: 10px;
  background-color: #9b9b96;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.navbar-nav > li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-nav > li a:hover{
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a {
	color: #c1c1b6;
	font-weight: 600;
}

a:hover{
  opacity: 0.7;
  color: #9b9b96;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

/* Style all font awesome icons */
.fa {
    /*padding: 20px;*/
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: #555555;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    -webkit-transition: all 0.15s ease-in-out 0s;
    text-decoration: none;
}

.profile-img {
  height: 300px;
  /*width: 200px;*/
  background-image: url('../img/me.jpg');
  background-position: center;
  background-size: cover;
}


/*.square-service-block a:hover, .square-service-block a:focus {
  color: #2a6496;
  text-decoration: none;
}
.square-service-block{
	position:relative;
	overflow:hidden;
	margin:15px auto;
}
.square-service-block a {
	background-position: center;
	background-size: cover;
  border-radius: 5px;
  display: block;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.square-service-block a:hover{
  background-color: rgba(0,0,0, 0.6);
  border-radius: 5px;
}


h2.ssb-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin:0;
  padding:0;
  padding-top: 40%;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0;
}
h2.ssb-title:hover {
  visibility: visible;
  opacity: 1;
}

*/




.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 80%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox-text h2 {
	color: white;
	font-size: 18pt;
	font-weight: 600;
}
.hvrbox-text p {
	color: white;
	font-size: 12pt;
}
.hvrbox .hvrbox-text_mobile {
	font-size: 12px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.jumbotron-cover {
	border-radius: 0px;
	margin-bottom:0;
	background-color: rgba(0,0,0,0.05); 
	background-size: cover;
	background-position: center;
}
.jumbotron-cover-white {
	border-radius: 0px;
	margin-bottom:0;
	background-color: white; 
	background-size: cover;
	background-position: center;
}

button {
	outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.btn {
	background-color: #9b9b96;
	color: white !important;
	outline: 0 !important;
  outline-offset: 0  !important;
}

.cv_content {
	/*color: #676767;*/
	color: #9b9b96;
	/*font-family: "Proxima Nova", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;*/
	font-size: 16px;
	line-height: 30px;
}