p {
	margin: 0 0 30px 0;
}

/* grid card */

.grid_card_wrapper {
	/*float: left;
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 32px;*/
	/*margin-top: 80px;*/
	margin-bottom: 80px;
}

.grid_card_headline {
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 700;
	/*color: #333;*/
	letter-spacing: 0px;
	margin-bottom: 16px;
}

.grid_card_desc {
	font-size: 18px;
	/*line-height: 1.2em;*/
	/*font-weight: 700;*/
	/*letter-spacing: 0px;*/
	/*margin-bottom: 16px;*/
}

.grid_card_type {
	font-size: 14px;
	/*color: #333;*/
	margin-bottom: 0px;
	text-transform: uppercase;
	line-height: 16px;
	font-weight: 800;
}

.grid_card_type:before {
	content: "";
	margin-bottom: 16px;
	display: block;
	width: 50px;
	height: 1px;
	background-color: #e9e9e9;
}

.grid_card_date {
	font-weight: 600;
	font-size: 16px;
	color: #ababab;	
}

.grid_card_wrapper img {
	display: block;
  	max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.grid_card_wrapper:hover img {
  transform: scale(1.1);
}

.grid_card_wrapper a.link_block {
	display: inline-block;
	overflow: hidden;
    position: relative;
    margin: auto;
    padding: 0;
}

a {
  color: #0d1e2d;
}

a:hover {
  color: #52ab4b;
  /*color: #772BFF;*/
  text-decoration: none;
  outline: 0;
  transition: 0.3s;
}

section {
	padding-bottom: 50px;
}

.intro-header h2 {
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 16px;
}

.intro-header p {
	line-height: 2;
	font-size: 20px;
	margin-top: 24px;
}

.intro-img img {
	width: 100%;
}

hr.rounded {
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 8px solid #eee;
  border-radius: 5px;
  width: 10%;
}

.footer .footer-link {
	color: #52ab4b;
	padding-top: 100px;
}

.work-header {
}

.work-header img {
	/*width: 100%;*/
}

.work-header .work-header-title {
	font-weight: 800;
	font-size: 50px;
	margin-bottom: 40px;
}

.work-header .font-white {
	color: white;
}

.work-header .work-header-desc {
	font-size: 20px;	
}

.work-section-header {
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;
	background-repeat: no-repeat; 
	/*background-color: #eee;	*/
}


.work-overview {
	/*padding-bottom: 80px;*/
}

.work-overview a {
	color: #52ab4b;
}

.work-content-section {
	padding-top: 100px;
}

.work-overview-title {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 28px;
	color: #757678;
}

.work-overview-sub-title {
	font-weight: 700;
	margin-bottom: 10px;
}

.work-overview-time {
	font-weight: 500;
	margin-bottom: 10px;
	color: gray;
}

.work-overview-content {
	line-height: 2;
}

.work-section-title {
	font-weight: 600;
	font-size: 20px;
	color: #aaa;
}

.work-section-overview {
	padding: 30px;
	padding-bottom: 120px;
}

.work-section-white {
	padding: 30px;
	padding-bottom: 120px;
}

.work-white {
	/*padding-bottom: 80px;*/
	padding-top: 80px;
}

.work-white img {
	padding-top: 20px;
	padding-bottom: 50px;
}

.full-width {
	width: 90vw;
  	position: relative;
  	left: 45%;
  	right: 45%;
  	margin-left: -40vw;
  	margin-right: -40vw;
}

/*.work-img figcaption {
	color: gray;
}*/

/*.work-white img {
	transition: transform .4s;
}

.work-white img:hover {
    transform: scale(1.1);
}*/

.work-section-white a {
	color: #52ab4b;
}

.work-section-white h2 {
	font-size: 40px;
	padding-bottom: 50px;
	font-weight: 700;
}

.work-section-white h3 {
	font-size: 28px;
	padding-top: 14px;
	padding-bottom: 36px;
	font-weight: 600;
}

.work-section-white h4 {
	font-size: 22px;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 600;
}

.work-section-white p {
	line-height: 2;
}

.work-section-white img {
	width: 100%;
}

.work-section-white ul {
	line-height: 250%
}
.work-section-white ol {
	line-height: 250%
}

.back-to-top {
	color: white;
	font-size: 45px;
	display: inline-block;
	background-color: #52ab4b;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	/*transition: background-color .3s, */
	/*opacity .5s, visibility .5s;*/
	opacity: 0.6;
	/*visibility: hidden;*/
	z-index: 1000;
}
.back-to-top:hover {
	color: white;
	background-color: #356e44;
	transition: 0.3s;
}

.site-portfolio {
	padding-top: 0px;
}


.work-user-profile {
	margin: 50px 30px 30px 30px; 
	padding: 10px 40px 40px 40px; 
	border: 1px #cdcdcd solid; 
	box-shadow: 5px 10px #efefef;
}

.work-user-profile-task-title {
	 margin-bottom: 5px; 
	 color: gray;
}

/*#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}*/
/*#button.show {
  opacity: 1;
  visibility: visible;
}*/


.work-user-quote-list {
	margin-top: 70px;
	margin-left: 70px;
	margin-right: 70px;
}

@media (max-width: 780px) {
	.work-user-quote-list {
		margin-left: 0px;
		margin-right: 0px;
	}
}


.work-user-quote {

}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* navbar */

.navbar-header {
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

.navbar-header .navbar-brand img {
  height: 40px;
}

.navbar-header .navbar-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: #52ab4b;
  display: inline-block;
}

.navbar-header .navbar-link::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #52ab4b;
  transition: 300ms;
  margin-top: 10px;
}

.navbar-header .navbar-link:hover::after {
  width: 100%;
}


.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
  width: 100%
}


.nav-ul li {
  float: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11pt;
}

.nav-ul li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-ul li a:hover {
  color: #52ab4b;
  transition: 300ms;
}

/*.active {
  background-color: #4CAF50;
}*/

.work-white h3 mark{
	background-color: #fff097;
	padding: 0 0.1em;
	display: inline-block; 
    height: 0.85em;
    line-height: 0.85;
}

.about-title {
	padding-top: 100px; 
	text-align: center;
}

.about-title h2 mark{
	background-color: #fff097;
	padding: 0 0.1em;
	display: inline-block; 
    height: 0.85em;
    line-height: 0.85;
}

.about-me-hobby-items {
	padding-top: 50px;
}

.about-me-hobby-items a {
	color: #52ab4b;		
}

.side-project-item img {
	padding-bottom: 30px;
}

.side-project a {
	color: #52ab4b;
}

.side-project-item {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

.intro-header a {
	color: #52ab4b;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
}

.about-desp a {
	color: #52ab4b;
}

.about-desp p {
	font-size: 15pt;
	line-height: 2;
}